/* Space on Body */
body::before {
  display: block;
  content: "";
  height: 60px;
}

.social-link {
  text-decoration: none;
}

/* Newsletter width*/
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
